@model OutOfOffice.DTO.Employee.EmployeeEditDTO

@{
    ViewData["Title"] = "Edit";
}

@{
    var id = ViewContext.RouteData.Values["id"];

    var positions = new List<SelectListItem>
    {
        new SelectListItem { Value = "0", Text = "HR manager" },
        new SelectListItem { Value = "1", Text = "Project manager" },
        new SelectListItem { Value = "2", Text = "Admin" },
        new SelectListItem { Value = "3", Text = "Employee" },
    };

    var subdivisions = new List<SelectListItem>
    {
        new SelectListItem { Value = "0", Text = "HR division" },
        new SelectListItem { Value = "1", Text = "Node.js division" },
        new SelectListItem { Value = "2", Text = "C# division" },

    };
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" value="@Model.Fullname" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
           
            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" value="@Model.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="Subdivision" class="control-label"></label>
                <select asp-for="Subdivision" class="form-control" asp-items="@subdivisions" value="@Model.Subdivision"></select>
                <span asp-validation-for="Subdivision" class="text-danger"></span>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="Position" class="control-label"></label>
                <select asp-for="Position" class="form-control" asp-items="@positions" value="@Model.Position"></select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>

            @if (User.IsInRole("2"))
            {
                <div data-mdb-input-init class="form-outline mb-4">
                    <label asp-for="PeoplePartnerId" class="control-label"></label>
                    <select asp-for="PeoplePartnerId" class="form-control" asp-items="@ViewBag.PeoplePartners" value="@Model.PeoplePartnerId">
                        <option value="">Select people partner</option>
                    </select>
                    <span asp-validation-for="PeoplePartnerId" class="text-danger"></span>
                </div>
            }

            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="OutOfOfficeBalance" class="control-label"></label>
                <input asp-for="OutOfOfficeBalance" class="form-control" value="@Model.OutOfOfficeBalance" />
                <span asp-validation-for="OutOfOfficeBalance" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Details" asp-route-id="@id">Back to List</a>
            </div>
        </form>
    </div>
</div>

